.btn {
  display: inline-block;
  height: 30px;
  width: 83px;
  border: 1px solid #d4d5d9;
  color: #60b246;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 3px 8px #e9e9eb;
  border-radius: 4px;
}

.counter {
  display: flex;
  justify-content: center;
  &__add {
    cursor: pointer;
    width: 33%;
  }
  &__count {
    width: 33%;
  }
  &__remove {
    cursor: pointer;
    width: 33%;
  }
  &__empty {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}
